body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.forgot-container {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.forgot-container h2 {
    margin-bottom: 20px;
    color: #252627;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0e6181;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #098553;
}

.message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: red;
}

.success {
    color: green;
}
